{% extends "base.twig" %}

{% block content %}

    <main>
        <!-- HERO -->
        <section class="bg-brand-dark relative overflow-hidden" style="background-image:url({{ post.get_field('hero_image') }});background-position:center;background-size:cover;">
            <div class="absolute pin-b pin-l w-full h-full bg-black opacity-25"></div>
            <div class="relative container w-full max-w-xl mx-auto flex flex-col justify-center items-center pt-64 pb-48 pl-5 pr-5 md:pl-0 md:pr-0">
                <h1 class="font-medium text-mega text-center text-white">Welcome to Parkway</h1>
                <p class="font-medium text-md text-center text-white uppercase mt-4 mb-4">Baptist Church - Biloxi, MS</p>
                <p class="font-normal text-2xl text-center text-white mb-4">{{ post.meta('hero_text') }}</p>
                <div class="relative flex justify-center items-center mt-4">
                    {% for sermon in recent_sermon %}
                        <a href="{{ sermon.link }}" class="btn btn-red mr-4 z-10">
                            Latest Sermon
                        </a>
                    {% endfor %}
                    <a href="/about#visitor-info" class="btn btn-red z-10">Visitor Info</a>
                </div>
            </div>
            <div class="absolute pin-b pin-l w-full h-48 tear-white">
                <img src="{{ theme.link }}/images/tear-bl-white.png" alt="" class="absolute pin-b tear-white__left">
                <img src="{{ theme.link }}/images/tear-br-white.png" alt="" class="absolute pin-b tear-white__right">
            </div>
        </section>

        <section>
            <div class="container w-full max-w-xl mx-auto flex flex-col md:flex-row pt-20 md:pt-32 pb-24 pl-5 pr-5 md:pl-0 md:pr-0" data-aos="fade-in">
                <div class="flex flex-col block md:flex-1 mb-10 md:mb-0 mr-0 md:mr-10">
                    <h3 class="font-medium text-4xl mb-2">We are a church serving God by loving people.</h3>
                    <p class="font-light text-xl mb-4 leading-tight">Parkway Baptist Church is a Southern Baptist congregation devoted to living out the Great Commission and the Greatest Commandment as a healthy expression of the Body of Christ.</p>
                    <div>
                        <a href="/about" class="btn btn-red-transparent">Learn More</a>
                    </div>

                </div>
                <div class="hidden md:block md:flex-1">
                    <img src="{{ theme.link }}/images/heart_hands.jpg" class="w-full" />
                </div>
            </div>
        </section>

        <section class="bg-gray-lightest">
            <div class="container w-full max-w-xl mx-auto pt-20 pb-32 pl-5 pr-5 md:pl-0 md:pr-0">
                <h2 class="font-medium text-4xl text-center mb-10 text-brand-darkest">What's happening at Parkway?</h2>
                <div class="ctas">
                    <div class="relative bg-white hover:shadow-md transition-slow mb-10 md:mb-0" data-aos="fade-up" data-aos-duration="500">
                        <div class="relative h-64 md:h-48 bg-grey-lighter" style="background-image:url({{ post.get_field('cta_1_image') }});background-position:center;background-size:cover;">

                        </div>
                        <div class="relative px-4 py-4">
                            <h4 class="font-medium text-xl mb-2">{{ post.get_field('cta_1_title') }}</h4>
                            <p class="font-light text-lg mb-10 leading-tight text-brand-darkest">{{ post.get_field('cta_1_text') }}</p>
                        </div>
                        <div class="absolute pin-b pin-l px-4 py-4">
                            <a href="{{ post.get_field('cta_1_button_link') }}" class="font-medium text-lg text-red hover:text-red-light transition-slow">{{ post.get_field('cta_1_button_text') }}</a>
                        </div>
                    </div>
                    <div class="relative bg-white hover:shadow-md transition-slow mb-10 md:mb-0" data-aos="fade-up" data-aos-duration="1500">
                        <div class="relative h-64 md:h-48 bg-grey-lighter" style="background-image:url({{ post.get_field('cta_2_image') }});background-position:center;background-size:cover;">

                        </div>
                        <div class="relative px-4 py-4">
                            <h4 class="font-medium text-xl mb-2">{{ post.get_field('cta_2_title') }}</h4>
                            <p class="font-light text-lg mb-10 leading-tight">{{ post.get_field('cta_2_text') }}</p>
                        </div>
                        <div class="absolute pin-b pin-l px-4 py-4">
                            <a href="{{ post.get_field('cta_2_button_link') }}" class="font-medium text-lg text-red hover:text-red-light transition-slow">{{ post.get_field('cta_2_button_text') }}</a>
                        </div>
                    </div>
                    <div class="relative bg-white hover:shadow-md transition-slow mb-10 md:mb-0" data-aos="fade-up" data-aos-duration="2500">
                        <div class="relative h-64 md:h-48 bg-grey-lighter" style="background-image:url({{ post.get_field('cta_3_image') }});background-position:center;background-size:cover;">

                        </div>
                        <div class="relative px-4 py-4">
                            <h4 class="font-medium text-xl mb-2">{{ post.get_field('cta_3_title') }}</h4>
                            <p class="font-light text-lg mb-10 leading-tight">{{ post.get_field('cta_3_text') }}</p>
                        </div>
                        <div class="absolute pin-b pin-l px-4 py-4">
                            <a href="{{ post.get_field('cta_3_button_link') }}" class="font-medium text-lg text-red hover:text-red-light transition-slow">{{ post.get_field('cta_3_button_text') }}</a>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section>
            <div class="container w-full max-w-xl mx-auto pt-24 pb-24 flex pl-5 pr-5 md:pl-0 md:pr-5 flex-col md:flex-row" data-aos="fade-in">
                <div class="flex-1 mb-10 md:mb-0">
                    {% for series in current_series %}
                        <img src="{{ series.get_field('series_image') }}" class="w-full" />
                    {% endfor %}
                </div>
                <div class="w-full md:w-3/5 ml-0 md:ml-10">
                    <h3 class="font-medium text-lg mb-3 uppercase text-brand">Current Sermon Series</h3>
                    {% for series in current_series %}
                        <span class="font-normal text-4xl mb-2 text-brand-dark">{{ series.name }}</span>
                        <p class="font-light text-xl leading-tight">{{ series.description }}</p>

                        <div class="mt-5">
                            <a href="{{ series.link }}" class="btn btn-red-transparent">Listen to Sermons</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>

{% endblock %}