{% extends "base.twig" %}

{% block content %}

    <main>
        <section class="relative bg-brand-dark overflow-hidden" style="background-image:url({{ post.thumbnail.src }});background-position:center;background-size:cover;">
            <div class="container max-w-xl mx-auto pt-48 pb-32 pl-5 pr-5 md:pl-0 md:pr-0">
                <h2 class="font-medium text-mega mb-2 text-white">{{ post.title }}</h2>

            </div>
            <div class="absolute pin-b pin-l w-full h-48 tear-white">
                <img src="{{ theme.link }}/images/tear-bl-white.png" alt="" class="absolute pin-b tear-white__left">
                <img src="{{ theme.link }}/images/tear-br-white.png" alt="" class="absolute pin-b tear-white__right">
            </div>
        </section>
        <section>
            <div class="container w-full max-w-xl mx-auto pt-20 pb-10 pl-5 pr-5 md:pl-0 md:pr-0 body-content">
                {{ post.content }}
            </div>
        </section>
    </main>

{% endblock %}