{% extends "base.twig" %}

{% block content %}

    <main>
        <section class="relative bg-brand-dark overflow-hidden" style="background-image:url({{ post.thumbnail.src }});background-position:center;background-size:cover;">
            <div class="container w-full max-w-xl mx-auto pt-48 pb-32 pl-5 pr-5 md:pl-0 md:pr-0">
                <h2 class="font-medium text-mega mb-2 text-white">Parkway Baptist Staff</h2>
                {#<p class="font-light text-xl leading-tight">Click on a sermon series to see all sermons in that series.</p>#}
            </div>
            <div class="absolute pin-b pin-l w-full h-48 tear-white">
                <img src="{{ theme.link }}/images/tear-bl-white.png" alt="" class="absolute pin-b tear-white__left">
                <img src="{{ theme.link }}/images/tear-br-white.png" alt="" class="absolute pin-b tear-white__right">
            </div>
        </section>
        <section>
            <div class="container w-full max-w-xl mx-auto pt-20 pb-20 pl-5 pr-5 md:pl-0 md:pr-0">
                <div class="w-full inline-flex justify-center flex-wrap">
                    {% for staff in staff_members %}
                        <div class="px-8 flex flex-col justify-start items-center mb-10">
                            <img src="{{ staff.get_field('staff_image') }}" class="rounded-full w-32" />
                            <p class="font-medium text-xl mt-4 mb-1 text-center">{{ staff.title }}</p>
                            <p class="mb-1 text-center">{{ staff.staff_position }}</p>
                            <p class="text-center">{{ staff.staff_email }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>

{% endblock %}